    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4>Users</h4>
            </div>
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Roles</th>
                  </tr>
                </thead>
                  <tbody>
                    <tr *ngFor="let user of users">
                      <td>{{ user.firstName }}</td>
                      <td>{{ user.lastName }}</td>
                      <td>{{ user.phone }}</td>
                      <td>{{ user.email }}</td>
                      <td >{{user.roles[0].name}}</td>
                    </tr> 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>