<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
  </head>
  <body>
    <app-navbar-logged></app-navbar-logged>
    <div class="container">
      <div class="col-md-3 px-0">
        <div class="sidebar" >
          <app-sidebar [role]="role"></app-sidebar>
        </div>  
      </div>
      <div class="sign-up-form">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-5 mb-4 mb-md-0">
            <img src="../assets/images.jpg" alt="Signup image" class="signup-img">
          </div>
          <div class="col-md-7">
            <form [formGroup]="userForm" class="signup-form p-4 bg-light rounded" (ngSubmit)="onSubmit()" >
              <h3 class="mb-3">S'inscrire</h3>
              <div class="row mb-3">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="text1">Nom</label>
                    <input type="text" class="form-control" id="text1" placeholder="Nom" formControlName="firstName" >
                    <div class="alert alert-danger" *ngIf="userForm.get('firstName').touched && userForm.get('firstName').hasError('required')" > Champ requis</div>
                    <div class="alert alert-danger" *ngIf="userForm.get('firstName').touched && userForm.get('firstName').hasError('minlength')" >  Ce champ doit au moins contenir 3 lettres</div>
                   
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="text2">Prenom</label>
                    <input type="text" class="form-control" id="text2" placeholder="Prenom" formControlName="lastName">
                    <div class="alert alert-danger" *ngIf="userForm.get('lastName').touched && userForm.get('lastName').hasError('required')" > Champ requis</div>
                    <div class="alert alert-danger" *ngIf="userForm.get('lastName').touched && userForm.get('lastName').hasError('minlength')" > Ce champ doit au moins contenir 5 lettres</div>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="telephone" class="form-label">Telephone</label>
                <input type="telephone" class="form-control" id="telephone" placeholder="Enter telephone" formControlName="phone">
                <div class="alert alert-danger" *ngIf="userForm.get('phone').touched && userForm.get('phone').hasError('required')" > Champ requis</div>
                <div class="alert alert-danger" *ngIf="userForm.get('phone').touched && userForm.get('phone').hasError('pattern')" > Forme incorrect min 8 Nombres</div>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Address-mail</label>
                <input type="email" class="form-control" id="email" placeholder="Address-mail"  formControlName="email" >
                <div class="alert alert-danger" *ngIf="userForm.get('email').touched && userForm.get('email').hasError('required')" > Champ requis</div>
                <div class="alert alert-danger" *ngIf="userForm.get('email').touched && userForm.get('email').hasError('email')" > Incorrect forme d'email</div>
              </div> 
              <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="password" placeholder="Mot de passe" formControlName="password" >
                <div class="alert alert-danger" *ngIf="userForm.get('password').touched && userForm.get('password').hasError('required')" > Champ requis</div>
                <div class="alert alert-danger" *ngIf="userForm.get('password').touched && userForm.get('password').hasError('pattern')" > Mote de passe requis au moins 2 lettres majuscules et miniscules et 3 nombres  </div>
              </div>
              <div class="mb-3">
                  <label for="role" class="form-label">Role</label>
                  <input type="role" class="form-control" id="role" placeholder="Role" formControlName="role" >
                  <div class="alert alert-danger" *ngIf="userForm.get('role').touched && userForm.get('role').hasError('required')" > Champ requis</div>
              </div>
              <div class="mb-3">
                  <label for="location" class="form-label">Lieu</label>
                  <input type="location" class="form-control" id="location" placeholder="Lieu" formControlName="location" >
                  <div class="alert alert-danger" *ngIf="userForm.get('location').touched && userForm.get('location').hasError('required')" > Champ requis</div>
              </div>
              <div class="mb-3">
                <label for="product" class="form-label">Produit</label>
                <select formControlName="product" class="form-select" id="product" required>
                  <option value="" disabled selected>Selectionner produit</option>
                  <option value="CarteAgilis">Carte Agilis</option>
                  <option value="CarteBon">Carte Bon</option>
                  <option value="BonValeur">Bon Valeur</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary" style="background-color: #E6B325;"  >S'inscrire</button>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </body>
</html>





