
.container {
    display: flex;
    margin: 0;
  }
  
  .sidebar {
    flex: 1;
    margin-top: 140px;
    
    margin-right: 600px;
  }
  
  .sign-up-form {
      flex: 5;
      margin-top: 20px;
      
  }

  .signup-form {
    margin-top: 10%;
      }

      input:focus {
        border-color: #E6B325;
        box-shadow: 0 0 0 0.25rem rgba(230, 179, 37, 0.25);
      }
      
  