.container {
    display: flex;
  }
  *{
    margin: 0;
  }
  .container {
    display: flex;
    justify-content: center;
   
  }
  
  .sidebar {
    flex: 1;
    margin-top: 140px;
  }
  .container-fluid {
    flex: 5;
    margin-top: 60px;
  }
  .status{
    border-radius: 20px;
    height:11px;
    width: 95px;
    margin: 20px;
  }
  
  