<app-navbar></app-navbar>
<!-- HTML Code -->
<!-- HTML Code -->
<!DOCTYPE html>
<html>
<head>
	<title>My Page</title>
	<!-- Include your CSS and JS files here -->
	<style>
		body {
			background-size: cover;
			background-position: center center;
			background-attachment: fixed;
		}
		.container {
			margin-top: 100px;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Bienvenue sur notre application de rendez-vous MON TICKET AGIL</h1>
				<p>Notre application est conçue pour simplifier vos tâches quotidiennes et vous faciliter la vie. Avec une interface conviviale et des fonctionnalités puissantes, vous pouvez gérer votre emploi du temps, vos rendez-vous et vos listes de tâches en un seul endroit.
				</p>
				<h3>Introduction:</h3>
				<p>Bienvenue sur notre application de prise de rendez-vous, conçue pour simplifier le processus de gestion de vos rendez-vous. Avec notre application, vous pouvez facilement réserver et gérer vos rendez-vous en quelques clics, ce qui vous permet de rester au top de votre emploi du temps plus facilement que jamais.</p>
				<h3>Problème:</h3>
				<p>Nous savons tous à quel point il peut être frustrant de gérer plusieurs rendez-vous et de suivre nos horaires chargés. Avec tant de choses, il est facile d'oublier des rendez-vous importants, de manquer des délais ou simplement de perdre la notion du temps. C'est là que notre application entre en jeu.</p>
				<h3>La solution:</h3>
				<p>Notre application de prise de rendez-vous est conçue pour vous aider à gérer vos rendez-vous facilement et efficacement. Avec une interface conviviale et une conception intuitive, vous pouvez rapidement réserver, modifier ou annuler des rendez-vous en quelques clics. De plus, notre application est disponible sur tous les appareils, vous pouvez donc gérer vos rendez-vous en déplacement.</p>
			</div>
		</div>
	</div>
</body>
</html>
<app-footer></app-footer>
