<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-8 centered">

          <div class="article-card">
            <div class="card">
              <img src="../assets/carte-agilis-cash1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Carte Agilis Cash</h5>
                <p class="card-text">AGIL met à la disposition de ses clients une carte prépayée AGILIS Cash avec une valeur monétaire stockée dans la carte.

                  AGILIS Cash peut être rechargée d’un montant déterminé à validité illimité. La recharge peut être effectuée à distance via le portail web mis à la disposition des clients, en se présentant aux guichets unique de Tunis, Sousse et Sfax ou à partir du Terminal de Paiement Electronique TPE dans les stations services AGIL par le biais d’une carte bancaire.
                  
                  AGILIS Cash permet d'offrir des avantages pratiques et sécurisés aux cadres et usagers des véhicules particuliers ou utilitaires d’une entreprise.
                  
                  Le paiement se fait au moment du chargement.</p>
                
              </div>
            </div>
          </div>

          <div class="article-card">
            <div class="card">
              <img src="../assets/carte-agilis-.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Carte Bon</h5>
                <p class="card-text">La "carte bon"  est généralement une carte prépayée émise par une entreprise pétrolière ou une autre entreprise associée à la vente d'essence et de carburant. La carte permet aux consommateurs de recharger leur compte prépayé et de l'utiliser pour acheter de l'essence ou du carburant dans les stations-service affiliées. Les cartes bon de l'essence sont souvent utilisées par les entreprises pour gérer les dépenses de carburant de leurs employés ou pour offrir des avantages aux clients fidèles.</p>
                
              </div>
            </div>
          </div>
          <div class="article-card">
            <div class="card">
              <img src="../assets/carte-agilis-gold.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Bon Valeur</h5>
                <p class="card-text">Le "bon valeur " est généralement un coupon ou une carte-cadeau qui peut être échangé contre une certaine quantité d'essence ou de carburant dans une station-service donnée. Les bons valeur essence peuvent être offerts par les entreprises pétrolières comme promotions ou incitations pour les clients ou les employés. Ils peuvent également être utilisés comme récompenses ou avantages pour les programmes de fidélité de clients. Le montant du bon valeur peut varier en fonction de la promotion ou du programme de fidélité spécifique.</p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<app-footer></app-footer>
  